process {
    
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        enabled: false
    ]
    
    withName: MULTIQC {
        ext.prefix = "${params.run_name}_"
    }
    withName: HELPER_RFAMTOGFF {
        publishDir = [
            path: { "${params.outdir}/${meta.id}" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: INFERNAL_SEARCH {
       publishDir = [
            path: { "${params.outdir}/${meta.id}/infernal" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ] 
    }
    withName: BUSCO_BUSCO {
       publishDir = [
            path: { "${params.outdir}/${meta.id}/busco" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ] 
    }
}
